apiVersion: v1
kind: Secret
metadata:
  name: sparring-finder-secrets
type: Opaque
stringData:
  # put values or use sealed-secrets/managed secrets in production
  SPRING_DATASOURCE_USERNAME: "${SPRING_DATASOURCE_USERNAME}"
  SPRING_DATASOURCE_PASSWORD: "${SPRING_DATASOURCE_PASSWORD}"
  S3_ACCESS_KEY: "${S3_ACCESS_KEY}"
  S3_SECRET_KEY: "${S3_SECRET_KEY}"
  KEYCLOAK_CLIENT_SECRET: "${KEYCLOAK_CLIENT_SECRET}"
